.hometitle {
  text-align: center;
  color: black;
}

.homebtn {
  background-color: #De5727;
  color: white;
  outline-color: white;
}

.homebtn:hover {
  background-color: black;
}

.lottiediv {
animation-name: drive;
animation-duration: 10s;
animation-fill-mode: forward;
animation-iteration-count: infinite;
animation-timing-function: linear;

@keyframes drive{
    from{ transform: translateX(-1500px)}
    to{ transform: translateX(5000px)}
  }
}

.bizname {
  color: #De5727;
}




