.home {
  text-align: center;
  color: white;
  font-size: 96px;
  text-shadow: 1px 1px black;
}

.homebtn {
  background-color: white;
  color: black;
}

.homebtn:hover {
  background-color: black;
  color: white;
}

.bizname {
  color: black
}



