.home {
  text-align: center;
  color: white;
  text-shadow: 1px 1px black;
}

.homebtn {
  background-color: white;
  color: black;
}

.homebtn:hover {
  background-color: black;
  color: white;
}

.bizname {
  color: black
}

.portrait {
  border-radius: 50%;
  border-style: dotted;
  border-color: #e6a66b;
  border-width: 10px;

}

.aboutsection {
  background-color: white;
}

.description {
  color: black;
}

.navbar {
  border-bottom: 2px solid #e6a66b;
  color: white;
}



